.loading_animation_element {
    width: 300px;
    height: 300px;
    border: 3px solid white;
    border-radius: 150px;
    overflow: visible;

    :global {
        animation: 2.4s linear 500ms infinite running simpleRotation;
    }
}

.loading_animation_element::after {
    content: "";
    --circle-size: 18px;
    position: absolute;
    top: 8px;
    left: calc(50% - var(--circle-size) / 2);
    width: var(--circle-size);
    height: var(--circle-size);
    border-radius: var(--circle-size);
    background-color: white;
}
